.sidebar {
    background-color: #F8F8F8;
    border: #e7e7e7 solid 1px;

    top: 0px;
    left:0px;
    bottom:-10px;
    position:fixed;

    padding:0;
}

.sidebar ul {
    overflow: auto;

    list-style: none;
    padding-left:0px;
    margin-bottom: 0px;
}

.sidebar .resizer {
    position: absolute;
    right: 0px;
    height: 100%;

    border:0;
    padding: 0;

    cursor: ew-resize;

    display: none;

    z-index: 10;
}

.sidebar .resizer:focus {
    border:0;
    outline: 0;
}

.sidebar .imagebutton {
    line-height: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

.sidebar .imagebutton a {
    line-height: 20px !important;
}

.sidebar .notext {
    display: none;
}

@media (max-width: 1199px) {
    .sidebar .resizer-lg {
        display:none;
    }

    .sidebar-col-lg {
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        position:relative;
    }

    .with-sidebar-col-lg {
        margin-left: inherit !important;
    }

    .sidebar-col-lg li {
        display: inline-block;
        padding: 10px;
    }

    .sidebar .notext {
        display: inline;
    }
}

@media (max-width: 991px) {
    .sidebar .resizer-md {
        display:none;
    }

    .sidebar-col-md {
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        position:relative;
    }

    .with-sidebar-col-md {
        margin-left: inherit !important;
    }

    .sidebar-col-md li {
        display: inline-block;
        padding: 10px;
    }

    .sidebar .notext {
        display: inline;
    }
}

@media (max-width: 767px) {
    .sidebar .resizer-sm {
        display:none;
    }

    .sidebar-col-sm {
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        position:relative;
    }

    .with-sidebar-col-sm {
        margin-left: inherit !important;
    }

    .sidebar-col-sm li {
        display: inline-block;
        padding: 10px;
    }

    .sidebar .notext {
        display: inline;
    }
}

.sidebar li {
    cursor: hand;
    padding-left:0px;
}

.sidebar li > .line {
    cursor: hand;
    padding-left:5px;
}

.sidebar li li > .line {
    cursor: hand;
    padding-left:10px;
}

.sidebar li li li > .line {
    cursor: hand;
    padding-left:15px;
}

.sidebar li li li li > .line {
    cursor: hand;
    padding-left:20px;
}

.sidebar li li li li li > .line {
    cursor: hand;
    padding-left:25px;
}

.sidebar .option {
    white-space: nowrap;
}

.sidebar .option:hover {
    background-color: #e7e7e7;
}

.sidebar li,
.sidebar li a:active,
.sidebar li a:visited,
.sidebar li a:link {
    line-height: 25px;
    color: #777;
    text-decoration: none;
}

.sidebar .imagebutton:hover {
    background-color: #e7e7e7;
}

.sidebar .imagebutton a:hover {
    text-decoration: none;
}

.sidebar li input {
    margin-left: 6px;
    margin-top: 8px;
}

.sidebar li .glyphicon-menu-down,
.sidebar li .glyphicon-menu-right {
    position: absolute;
    right: 10px;
    line-height: 25px;
}

.sidebar .searchbutton {
    margin-top: 8px;
    margin-right: 6px;
}
