<quark-component>
    <div data-bind="css: model.cssInput">
         <label class="control-label" data-bind="text: model.title"></label>
        <input type="text" class="form-control" data-bind="textInput: model.code, onBind: getInput" />
    </div>
    <div data-bind="css: model.cssSelect">
        <label class="control-label">&nbsp;</label>
        <select class="form-control" data-bind="
            options: model.options,
            optionsText: model.config.textField,
            value: model.selected,
            optionsCaption: model.caption">
        </select>
    </div>
</quark-component>
