<quark-component>
    <div class="item" style="font-size: 10px;">
        <!-- ko if: model.moduleName -->
            <span data-bind="text: model.moduleName"></span>
            <!-- ko if: model.moduleVersion -->
                <span>v </span><span data-bind="text: model.moduleVersion"></span>
            <!-- /ko -->
            <span> | </span>
        <!-- /ko -->
        <span data-bind="text: model.appName"></span>
        <span>v</span><span data-bind="text: model.appVersion"></span>
    </div>
</quark-component>
