<quark-component>
    <div class="sidebar" data-bind="onBind: init,
                                    css: classes,
                                    style: styles">
        <span data-bind="css: resizerClass">
            <button class="resizer" data-bind="onBind: initResizer,
                              style: resizerStyle">
               <span class="glyphicon glyphicon-option-vertical"></span>
            </button>
        </span>

        <ul data-bind="style: { marginTop: model.marginTop }">
            <!-- ko content -->
            <!-- /ko -->
        </ul>
    </div>
</quark-component>
