<quark-component>
    <li>
        <!-- ko hasContent: 'submenu' -->
            <a href="#" data-bind="click: toggle">
                <!-- ko if: icon -->
                    <span data-bind="css: icon"></span>
                <!-- /ko -->
                <span data-bind="text: text"></span>
                <span class="glyphicon" data-bind="css: _arrow"></span>
            </a>
            <!-- ko if: opened -->
                <ul>
                    <!-- ko content: 'submenu' -->
                    <!-- /ko -->
                </ul>
            <!-- /ko -->
        <!-- /ko -->

        <!-- ko hasNotContent: 'submenu' -->
            <a data-bind="attr: { href: url }">
                <!-- ko if: icon -->
                    <span data-bind="css: icon"></span>
                <!-- /ko -->
                <span data-bind="text: text"></span>
            </a>
        <!-- /ko -->
    </li>
</quark-component>
