<quark-component>
    <ul>
        <!-- ko hasContent: 'submenu' -->
            <li data-bind="click: model.toggle">
                <!-- ko if: model.icon -->
                    <span data-bind="css: model.icon"></span>
                <!-- /ko -->

                <a href="#">
                    <small data-bind="text: model.text"></small>
                    <small class="glyphicon" data-bind="css: arrow"></small>
                </a>

                <!-- ko if: model.opened -->
                    <!-- ko content: 'submenu' -->
                    <!-- /ko -->
                <!-- /ko -->
            </li>
        <!-- /ko -->

        <!-- ko hasNotContent: 'submenu' -->
            <li data-bind="click: click">
                <!-- ko if: model.icon -->
                    <span data-bind="css: model.icon"></span>
                <!-- /ko -->
                <a href="#" data-bind="click: click">
                    <small data-bind="text: model.text"></small>
                </a>
            </li>
        <!-- /ko -->
    </ul>
</quark-component>
