<quark-component>
    <ul data-bind="onBind: init">
        <!-- ko hasContent: 'submenu', virtual: true -->
            <li class="option" style="position: relative" data-bind="click: model.toggle">
                <small style="position: absolute" class="glyphicon" data-bind="css: arrow">
                </small>

                <span class="line">
                    <!-- ko if: model.iconFont -->
                        <span data-bind="css: model.iconFont"></span>
                    <!-- /ko -->

                    <a href="#" data-bind="attr: { href: url }">
                        <small data-bind="text: model.text"></small>
                    </a>
                </span>
            </li>
            <li style="position: relative">
                <!-- ko if: model.opened -->
                    <!-- ko content: 'submenu', virtual: true -->
                    <!-- /ko -->
                <!-- /ko -->
            </li>
        <!-- /ko -->

        <!-- ko hasNotContent: 'submenu', virtual: true -->
            <li data-bind="click: click" class="option">
                <span class="line">
                    <!-- ko if: model.iconFont -->
                        <span data-bind="css: model.iconFont"></span>
                    <!-- /ko -->
                    <a href="#" data-bind="click: click, attr: { href: url }">
                        <small data-bind="text: model.text"></small>
                    </a>
                </span>
            </li>
        <!-- /ko -->
    </ul>
</quark-component>
