.sidebar-menu {
    padding-top:50px;
    background-color: #F8F8F8;
    border: #e7e7e7 solid 1px;
    list-style: none;
    padding-left: 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sidebar-menu-sm {
        height: 99vh;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sidebar-menu-md {
        height: 99vh;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .sidebar-menu-lg {
        height: 99vh;
    }
}

.sidebar-menu-list {
    padding: 0;
    list-style: none;
}

.sidebar-menu-item,
.sidebar-menu-link,
.sidebar-menu-link:hover,
.sidebar-menu-link:active,
.sidebar-menu-link:visited,
.sidebar-menu-link:link {
    line-height: 50px;
    color: #777;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding-left: 5px;
}

.sidebar-menu-item input {
    margin-top: 8px;
}

.sidebar-menu-link .glyphicon {
    padding-right: 5px;
}

.sidebar-menu-link .glyphicon-menu-down,
.sidebar-menu-link .glyphicon-menu-right {
    float:right;
    line-height: 45px;
    padding-right: 8px;
}
