<div class="row">
    <div class="col-sm-4 form-group">
        <h2>Tipo Inline</h2>
        <al-datepicker params="type: 'inline', value: value, date: date, enabled: enabled"></al-datepicker>
    </div>
    <div class="col-sm-4 form-group">
        <h2>Tipo Group</h2>
        <al-datepicker params="type: 'group', value: value, date: date, enabled: enabled"></al-datepicker>
    </div>
    <div class="col-sm-4 form-group">
        <h2>Tipo Input</h2>
        <al-datepicker params="type: 'input', value: value, date: date, enabled: enabled"></al-datepicker>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: enabled" />
                Activado
            </label>
        </div>
    </div>
    <div class="col-sm-4 form-group">
        <label class="control-label">Valor</label>
        <input type="text" class="form-control" data-bind="value: value" />
    </div>
    <div class="col-sm-4 form-group">
        <label class="control-label">Fecha</label>
        <input type="text" class="form-control" data-bind="value: date" />
    </div>
</div>
