<quark-component>
    <div class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span data-bind="text: nombreCompleto"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="width:250px">
                <li class="dropdown-header">Datos Usuario:</li>
                <li role="separator" class="divider"></li>

                <li class="dropdown-header">
                    <span>
                        <b>Usuario:</b>
                        <span class="pull-right label label-primary" data-bind="text: model.usuario"></span>
                    </span>
                </li>
                <li class="dropdown-header">
                    <span>
                        <b>CUIL:</b>
                        <span class="pull-right" data-bind="text: model.CUIL"></span>
                    </span>
                </li>
                <li class="dropdown-header">
                    <span>
                        <b>Nacimiento:</b>
                        <span class="pull-right" data-bind="text: model.nacimiento"></span>
                    </span>
                </li>
                <li class="dropdown-header">
                    <span>
                        <b>Mail:</b>
                        <span class="pull-right" data-bind="text: model.mail"></span>
                    </span>
                </li>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Datos Ubicacion:</li>
                <li role="separator" class="divider"></li>

                <li class="dropdown-header">
                    <span>
                        <b>Unidad:</b>
                        <span class="pull-right label label-danger" data-bind="text: model.unidad"></span>
                    </span>
                </li>
                <li class="dropdown-header">
                    <span>
                        <b>Unidad Superior:</b>
                        <span class="pull-right" data-bind="text: model.unidadSuperior"></span>
                    </span>
                </li>
                <li class="dropdown-header">
                    <span>
                        <b>Gerencia:</b>
                        <span class="pull-right" data-bind="text: model.gerencia"></span>
                    </span>
                </li>
            </ul>
        </li>
        <!-- ko if: model.imagen -->
            <li>
                <img style="height:40px; width: 40px; margin-top:5px;" class="img-circle" data-bind="attr: { src: model.imagen }" />
            </li>
        <!-- /ko -->
    </div>
</quark-component>
